<nav class="navbar">
  <div class="max-w-screen-xl flex items-center justify-center mx-auto p-4">
    
    <ul class="font-medium flex space-x-8">
      <li>
        <a href="#inicio" class="block py-2 text-gray-200 hover:text-emerald-400 hover:underline transition-colors">
          [ Início ]
        </a>
      </li>
      <li>
        <a href="#sobre" class="block py-2 text-gray-200 hover:text-emerald-400 hover:underline transition-colors">
          [ Sobre ]
        </a>
      </li>
      <li>
        <a href="#projetos" class="block py-2 text-gray-200 hover:text-emerald-400 hover:underline transition-colors">
          [ Projetos ]
        </a>
      </li>
      <li>
        <a href="#experiencia" class="block py-2 text-gray-200 hover:text-emerald-400 hover:underline transition-colors">
          [ Experiência ]
        </a>
      </li>
      <li>
        <a href="#contato" class="block py-2 text-gray-200 hover:text-emerald-400 hover:underline transition-colors">
          [ Contato ]
        </a>
      </li>
    </ul>

  </div>
</nav>