<section id ="experiencia" class="max-w-4xl mx-auto py-12 px-6">
  <h2 class="text-3xl font-bold text-emerald-500 mb-10 text-center font-mono">> EXPERIÊNCIA_</h2>

  <div class="grid gap-6">
    <!-- Card MPS -->
    <div class="bg-zinc-900 p-6 border-l-4 border-emerald-500 rounded-r-lg">
      <h3 class="text-xl font-bold text-white">Software Developer Intern (Atual) @ MPS Informática</h3>
      <p class="text-emerald-500 font-mono text-sm mb-4">Full-Stack, ASP.NET, C#, Oracle Database, Angular.</p>
      <p class="text-gray-400">Atuação em sistemas do Tribunal de Justiça de São Paulo, desenvolvimento em ASP.NET e Angular. Membro da equipe de inovação, responsável por buscar nova funcionalidades para os sistemas</p>
    </div>

    <!-- Card Endotec -->
    <div class="bg-zinc-900 p-6 border-l-4 border-emerald-500 rounded-r-lg">
      <h3 class="text-xl font-bold text-white">Infraestrutura Técnica e Suporte @ Endotec</h3>
      <p class="text-emerald-500 font-mono text-sm mb-4">Remote Concierge Business</p>
      <p class="text-gray-400">Suporte ao cliente e manutenção da infraestrutura tecnológica para serviços remotos.</p>
    </div>

    <!-- Card UFPR/Capimara -->
    <div class="bg-zinc-900 p-6 border-l-4 border-emerald-500 rounded-r-lg">
      <h3 class="text-xl font-bold text-white">Ciência da Computação @ UFPR</h3>
      <p class="text-emerald-500 font-mono text-sm mb-4">Estudante de Graduação e membro do time "Capimara" (ICPC/SBC)</p>
      <p class="text-gray-400">6º semestre. Treinamento intensivo em algoritmos complexos e estruturas de dados. Preparação para maratonas de programação. Monitor de Desafios da programação. Iniciação ciêntifica em Teoria de Grafos.</p>
    </div>
  </div>
</section>

